Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.pc
aclocal.m4
acinclude.m4
aminclude.am
m4/*.m4
autom4te.cache
config.h*
config.sub
config.log
config.status
config.guess
configure
depcomp
missing
ltmain.sh
install-sh
stamp-h1
libtool
libosmocore-*.tar.*

Doxyfile.core
Doxyfile.gsm
Doxyfile.vty
Doxyfile.codec

.tarball-version
.version

tests/sms/sms_test
tests/timer/timer_test
tests/msgfile/msgfile_test
tests/ussd/ussd_test
tests/smscb/smscb_test
tests/bits/bitrev_test

utils/osmo-arfcn

doc/codec
doc/core
doc/vty
doc/gsm
doc/html.tar

src/crc*gen.c
include/osmocom/core/crc*gen.h


# vi files
*.sw?
