*.o
*.a
Makefile.in
.deps

build-target
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
core
core.*

# Backups, vi, merges
*~
*.sw?
*.orig
*.sav

# development environment
/.autotools
/.cproject
/.project
/.settings/

# manuals
doc/manuals/*.html
doc/manuals/*.svg
doc/manuals/*.pdf
doc/manuals/*__*.png
doc/manuals/*.check
doc/manuals/generated/
doc/manuals/osmocombb-usermanual.xml
doc/manuals/common
doc/manuals/build
