Makefile
Makefile.in
.deps
.dirstamp
.libs
*.o
*.lo
*.la
*.pc
aclocal.m4
acinclude.m4
aminclude.am
m4/*.m4
autom4te.cache
config.h*
config.sub
config.log
config.status
config.guess
configure
depcomp
missing
ltmain.sh
install-sh
stamp-h1
libtool
libosmocore-*.tar.*

Doxyfile.core
Doxyfile.gsm
Doxyfile.vty
Doxyfile.codec

debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/libosmocore-dev/
debian/libosmocore*.log
debian/tmp/
debian/libosmocore*.substvars
debian/libosmocore/
debian/libosmocore.post*.debhelper

.tarball-version
.version

#gnu autotest
tests/package.m4
tests/atconfig
tests/atlocal
tests/osmo-test
tests/package.m4
tests/testsuite
tests/testsuite.dir/
tests/testsuite.log

tests/sms/sms_test
tests/timer/timer_test
tests/msgfile/msgfile_test
tests/ussd/ussd_test
tests/smscb/smscb_test
tests/bits/bitrev_test
tests/a5/a5_test
tests/auth/milenage_test
tests/conv/conv_test
tests/lapd/lapd_test
tests/gsm0808/gsm0808_test
tests/gb/bssgp_fc_test
tests/gsm0408/gsm0408_test
tests/logging/logging_test

utils/osmo-arfcn
utils/osmo-auc-gen

doc/codec
doc/core
doc/vty/latex
doc/vty/html
doc/gsm
doc/html.tar

src/crc*gen.c
include/osmocom/core/crc*gen.h


# vi files
*.sw?
