Source: libosmocore
Section: libs
Priority: optional
Maintainer: Harald Welte <laforge@gnumonks.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, autoconf, automake, libtool, dh-autoreconf, libdpkg-perl, git, doxygen
Standards-Version: 3.8.4
Homepage: http://bb.osmocom.org/trac/wiki/libosmocore
Vcs-Git: git://git.osmocom.org/libosmocore.git
Vcs-Browser: http://git.osmocom.org/gitweb?p=libosmocore.git;a=summary

Package: libosmocore
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Open Source MObile COMmunications CORE library

Package: libosmocore-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libosmocore
Description: Development headers for Open Source MObile COMmunications CORE library

#Package: libosmocore-dbg
#Section: libdevel
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: Debug symbols for Open Source MObile COMmunications CORE library
