# autoreconf by-products
*.in

aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
missing

# configure by-products
.deps/
Makefile

config.status
version.h

# build by-products
*.o

osmocon
osmoload

# various
.version
.tarball-version

# IDA file
*.id*
*.nam
*.til

# Other test files
*.dump
*.bin
*.log
