Source: osmocom-bb
Section: net
Priority: optional
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Build-Depends: debhelper (>= 10),
               dh-autoreconf,
               autotools-dev,
               autoconf,
               automake,
               libtool,
               pkg-config,
               libosmocore-dev (>= 1.5.0),
               libosmo-csn1-dev,
               libosmo-gprs-gmm-dev,
               libosmo-gprs-llc-dev,
               libosmo-gprs-rlcmac-dev,
               libosmo-gprs-sm-dev,
               libosmo-gprs-sndcp-dev,
               libosmogapk-dev,
               osmo-gsm-manuals-dev (>= 1.6.0)
Standards-Version: 4.1.4
Vcs-Browser: https://gitea.osmocom.org/phone-side/osmocom-bb
Vcs-Git: https://gerrit.osmocom.org/osmocom-bb
Homepage: https://osmocom.org/projects/baseband/wiki

Package: osmocom-bb-doc
Architecture: all
Section: doc
Priority: optional
Depends: ${misc:Depends}
Description: ${misc:Package} PDF documentation

Package: osmocom-bb-gprsdecode
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GPRS burst capture decoding utility

Package: osmocom-bb-layer23
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MS-side implementation of L2 and L3 GSM protocols

Package: osmocom-bb-osmocon
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Firmware loading and communication utility

Package: osmocom-bb-trx-toolkit
Architecture: any
Multi-Arch: foreign
Depends: python3
Description: Tools for the TRX interface and emulating a virtual Um-interface

Package: osmocom-bb-trxcon
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: OsmocomBB <-> SDR connection bridge

Package: osmocom-bb-virtphy
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Osmocom virtual physical layer
